@using nz.govt.moe.idp.saml.client.identity
@using nz.govt.moe.idp.saml.client.config
@using nz.govt.moe.idp.saml.client.Schema.Core

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@if (int.Parse(Saml20Identity.Current["dk:gov:saml:attribute:AssuranceLevel"][0].AttributeValue[0]) < 3)
{
    <p>This secured page should not be visible unless you have gone through the IdP.</p>
    throw new Exception("Saml assertion does not have required assurance level.");
}
@if (@Saml20Identity.IsInitialized())
{
    <div>
        Welcome, @Saml20Identity.Current.Name<br />
        <table style="border: solid 1px;">
            <thead>
                <tr>
                    <th style="border: solid 1px;">
                        Attribute name
                    </th>
                    <th style="border: solid 1px;">
                        Attribute value
                    </th>
                </tr>
            </thead>
            @foreach (SamlAttribute att in Saml20Identity.Current)
                {
                <tr>
                    <td style="border: solid 1px;">
                        @att.Name
                    </td>
                    <td style="border: solid 1px;">
                        @if (@att.AttributeValue.Length > 0)
                        { @att.AttributeValue[0].ToString();
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
        <div>
            <input type="button" value="Logoff" onclick="location.href='@Url.Action("SignOff", "Home")'" />
        </div>
}
